@import url("https://raw.githack.com/LuckFire/Discord-Revamp/master/source.css");
@import url("https://raw.githack.com/LuckFire/CSS-Snippets/master/MoreRoundedBorders/borders.css");

.theme-dark, 
.theme-light, 
:root {
    --background-primary: #292841 !important;
    --background-secondary: #242338 !important;
    --background-secondary-alt: #3c3a5e !important;
    --background-tertiary: #1c1b29 !important;
    --background-accent: #413f66 !important;
    --background-floating: #15141e !important;
    --background-modifier-hover: rgba(50, 50, 72, 0.35) !important;
    --background-modifier-active: rgba(255,255,255,0.03) !important;
    --background-modifier-selected: rgba(62, 61, 90, 0.35) !important;
    --background-modifier-accent: hsla(0,0%,100%,0.06) !important;
    --channeltextarea-background: var(--background-accent) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0,0,0,0.1) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: #817eb3 !important;
    --text-muted: #b6b6b6 !important;
    --text-normal: #fbfbfb !important;
    --interactive-normal: #c8c8c8 !important;
    --interactive-hover: #b5b2ff !important;
    --interactive-active: #fff !important;
    --interactive-muted: #7f7cbd !important;
    --header-secondary: #636194 !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, .2) !important;
    --toast-border: var(--background-tertiary) !important;
    --offline-color: #444444 !important;
    --text-muted: #817eb3 !important;
    --interactive-normal: #7f7cbd !important;
    --interactive-active: #d7d5ff !important;
}
