//META{"name":"Discord Revamp","description":"A revamped discord based on discord's current website.","author":"REDACATED#9999","version":"1.0.0","authorId":"431883840483491850","website":"https://github.com/LuckFire/Discord-Revamp","source":"https://raw.githubusercontent.com/LuckFire/Discord-Revamp/master/discordrevamp.theme.css"}*//{}

@import url("https://raw.githack.com/LuckFire/Discord-Revamp/master/src/source.css");
@import url("https://raw.githack.com/LuckFire/CSS-Snippets/master/MoreRoundedBorders/borders.css");

.theme-dark, 
.theme-light, 
:root {
    --background-primary: #292841 !important;
    --background-secondary: #242338 !important;
    --background-secondary-alt: #3c3a5e !important;
    --background-tertiary: #1c1b29 !important;
    --background-accent: #413f66 !important;
    --background-floating: #15141e !important;
    --background-modifier-hover: rgba(255,255,255,0.01) !important;	
    --background-modifier-active: rgba(255,255,255,0.03) !important;
    --background-modifier-selected: rgba(255,255,255,0.04) !important;	
    --background-modifier-accent: hsla(0,0%,100%,0.06) !important;
    --channeltextarea-background: var(--background-accent) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0,0,0,0.1) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: #9f9f9f !important;
    --text-muted: #b6b6b6 !important;
    --text-normal: #fbfbfb !important;
    --interactive-normal: #c8c8c8 !important;
    --interactive-hover: #dcddde !important;
    --interactive-active: #fff !important;
    --interactive-muted: #747474 !important;
    --header-secondary: #c9c9c9 !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, .2) !important;
    --toast-border: var(--background-tertiary) !important;
    --offline-color: #444444 !important;
}
