@import url("https://luckfire.github.io/theme-source/src/css-compile/ThemeSource-Compiled.css");

#app-mount .role-2irmRk {
    position: relative;
    overflow: hidden;
    border: 0;
    z-index: 0;
    padding: 5px;
}
#app-mount .role-2irmRk .roleCircle-3xAZ1j::after {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.25;
}
#app-mount .role-2irmRk.addButton-pcyyf6 {
    background-color: rgba(125, 125, 125, 0.25);
}

#app-mount .channelTextArea-2VhZ6z .scrollableContainer-2NUZem,
#app-mount .container-2Pjhx- .layout-2DM8Md,
#app-mount .input-cIJ7To,
#app-mount .searchBar-3dMhjb,
#app-mount .searchBarComponent-32dTOx {
    border-radius: 25px;
}
#app-mount .searchFilter-2ESiM3 {
    border-radius: 25px;
    padding-left: 6px;
    padding-right: 6px;
}
#app-mount .searchAnswer-3Dz2-q {
    border-radius: 0 25px 25px 0;
    padding-right: 6px;
    margin-left: -7px;
}
#app-mount .searchBarComponent-32dTOx {
    padding-left: 10px;
}
#app-mount .searchBar-3dMhjb .public-DraftEditorPlaceholder-root {
    padding-left: 7px;
}
#app-mount .userPopout-3XzG_A,
#app-mount .root-SR8cQa,
#app-mount .modal-3O0aXp {
    border-radius: 20px;
}
#app-mount .menu-3sdvDG {
    border-radius: 10px;
}

#app-mount .headerSpotify-zpWxgT,
#app-mount .topSectionSpotify-1lI0-P,
#app-mount .topSectionSpotify-1lI0-P .headerFill-adLl4x .tabBarContainer-1s1u-z {
    background: var(--spotify-header);
}

html.theme-light #app-mount::after {
    content: "You need to have dark theme enabled for this theme to work properly. To enable it, go into Settings -> Appearance";
    background: var(--background-tertiary);
    /* Container color */
    position: fixed;
    z-index: 5;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    max-width: 225px;
    line-height: normal;
    padding: 15px 0 15px 60px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-left: 2px solid #F04747;
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.65);
    
    /* Text Color */
    background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMSAyMWgyMkwxMiAyIDEgMjF6bTEyLTNoLTJ2LTJoMnYyem0wLTRoLTJ2LTRoMnY0eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 10px center;
}
