// if you're reading this, please ignore the cringe sorting

#app-mount {
    .channelTextArea-2VhZ6z .scrollableContainer-2NUZem,
    .container-2Pjhx- .layout-2DM8Md,
    .input-cIJ7To,
    .searchBar-3dMhjb,
    .searchBarComponent-32dTOx {
        border-radius: 25px;
    }

    .searchFilter-2ESiM3 {
        border-radius: 25px;
        padding-left: 6px;
        padding-right: 6px;
    }
    .searchAnswer-3Dz2-q {
        border-radius: 0 25px 25px 0;
        padding-right: 6px;
        margin-left: -7px;
    }
    .searchBarComponent-32dTOx {
        padding-left: 10px;
    }
    .searchBar-3dMhjb .public-DraftEditorPlaceholder-root {
        padding-left: 7px;
    }

    .userPopout-3XzG_A, 
    .root-SR8cQa,
    .modal-3O0aXp {
        border-radius: 20px;
    }

    .menu-3sdvDG {
        border-radius: 10px;
    }

}